@white: #fff;
@black: #000;
@primary-color	        : #ff6633;
@info-color             : #2db7f5;
@selected-color         : fade(@primary-color, 90%);
@link-color             : #17233d;
@link-hover-color       : tint(#ff6633, 10%);
@link-active-color      : shade(#f95, 5%);
@layout-body-background : #f6f6f6;
@page-background-color  : #f1f1f1;
@title-color            : #17233d;
@text-color             : #515a6e;
@text-color-secondary   : #8c8c8c;
@block-bg-color         : @white;
@hr-color               : #efefef;
@code-bg-color          : #f2f2f2;

@btn-ghost-color        : @text-color;
@btn-ghost-bg           : #f00;
@btn-ghost-border       : #17233d;

@btn-default-color      : #17233d;
@btn-default-bg         : tint(#fff, 40%);
@btn-default-border     : #fff;

// dark mode
@link-color-dark              : #17233d;
@title-color-dark             : #ffffff;
@text-color-dark              : #d0d0d0;
@text-color-secondary-dark    : #8c8c8c; //fade(@white, 45%);
@block-bg-color-dark          : #1e1e1e;
@hr-color-dark                : #323232;
@code-bg-color-dark           : #303030;

// size
@max-width : 1000px;

// Fonts
@font-monospace: SF Mono, Andale Mono, Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
@font-normal: SF Pro, Helvetica Neue, Genneva, Arial, san-serif;
@font-header: Avenir, SF Pro, Helvetica Neue, Genneva, Arial, san-serif;
@font-serif: "Big Caslon", "Times New Roman", serif;

// Text size
@font-size-bigger: 2.25rem;
@font-size-big: 1.5rem;
@font-size-middle: 1.2rem;
@font-size-normal: 1.0rem;
@font-size-small: 0.8rem;
@font-size-smaller: 0.6rem;

@font-weight-strong: 800;
@font-weight-bold: 700;
@font-weight-normal: 400;
@font-weight-thin: 100;

@corner-radius: 2rem;
