.setting-area {
  box-sizing: border-box;
  padding: 1rem;
  text-align: left;

  input {
      padding: 0.5rem;
  }

  div.form-item {
      color: #fdd !important;
      label {
          font-weight: 600 !important;
          color: #f0e  !important;
      }
  }
}

.shadow-block {
  margin-top: 1rem;
  box-shadow: 0px 0px 2px 0px;
  border-radius: 16px;
}