

.subtitle-cell {
  width: 100%;
  text-align: left;
  margin-bottom: 0.7rem;

  .user-panel {
      display: -webkit-flex;
      display: flex;
      flex-flow: row warp;
      justify-content: flex-start;
      align-items: center;
  }
  .user-avatar {
      float: left;
      background-color: transparent;
  }
  .text-panel {
      flex: right;
      width: 80%;
  }
  .user-name {
      font-size: 0.7rem;
      font-weight: 600;
      color: #535353;
      margin-left: 0.5rem;
  }
  .subtitle-text {
      color: #121212;
      font-size: 1.0rem;
      font-weight: 400;
      padding-left: 0.5rem;
  }
  .translation-text {
      color: #494949;
      font-size: 0.9rem;
      font-weight: 200;
      font-style: italic;
      padding-left: 0.5rem;
  }
}