# 页面标题
VITE_APP_TITLE = 'Agora RTT Web Demo(use Vue3)'

# 开发环境配置
ENV = 'production'
# Agora RTT API version
VITE_AGORA_RTT_API_VERSION = '1'
# Agora api base url
VITE_AGORA_BASE_URL = https://api.agora.io
VITE_AGORA_BASIC_TOKEN = ''
VITE_AGORA_API_BASIC_AUTH_TOKEN = ''

VITE_AGORA_APP_ID = 'VITE_AGORA_APP_ID'

VITE_GPT_API_ENDPOINT = https://gpt.api.url
VITE_API_BASE_URL = https://api.base.url

# Cloud storage config for cloud recording
VITE_CLOUD_STORAGE_ACCESS_KEY = ''
VITE_CLOUD_STORAGE_SECRET_KEY = ''
VITE_CLOUD_STORAGE_BUCKET = ''
VITE_CLOUD_STORAGE_VENDOR = 0
VITE_CLOUD_STORAGE_REGION = 0

VITE_LOG_LEVEL = 0 # 0 debug 1 info 2 warn error 
